* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul li a:hover {
  color: gold;
  opacity: 100%;
}
.text {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 310px;
  border-radius: 25px;
  border-bottom: 5px solid gold;
  border-left: 5px solid gold;
}

@media (max-width: 450px) {
  .fit {
    margin-top: 64px;
    width: 100%;
    height: 27vh;
    object-fit: contain;
  }
  marquee {
    width: 100%;
  }
  header {
    height: 40vh;
  }
  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_width {
    height: 400px;
    width: 300px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .card_width > img {
    height: 150px;
    width: 300;
  }
  .flow {
    overflow: auto;
    height: 70px;
    width: 250px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 2000px) and (min-width: 451px) {
  .fit {
    object-fit: cover;
    height: 100vh;
    width: 100%;
  }
  header {
    height: 100vh;
  }
  .align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_width {
    width: 18rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .flow {
    overflow: auto;
    height: 70px;
    width: 250px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  section {
    margin-top: 70px;
  }
  .image {
    height: 230px;
    width: 100%;
  }
}
